<div class="level-block">
  <p>
    <label for="lev-j"
      ><input
        [(ngModel)]="level"
        id="lev-j"
        type="radio"
        name="level"
        value="J"
      />Junior (< 2 Years )
    </label>
  </p>
  <p>
    <label for="lev-m"
      ><input
        [(ngModel)]="level"
        id="lev-m"
        type="radio"
        name="level"
        value="M"
      />Mid-level (>= 2 Years and <= 5 Years)
    </label>
  </p>
  <p>
    <label for="lev-s"
      ><input
        [(ngModel)]="level"
        id="lev-s"
        type="radio"
        name="level"
        value="S"
      />
      Senior (> 5 Years )</label
    >
  </p>
</div>

<!-- eg1: @if the selected level --->
<!-- <div>
  @if(level === 'J') {
  <span>Junior</span>
  } @else if (level === 'M') {
  <span>Mid</span>
  } @else if (level === 'S') {
  <span>Senior</span>
  } @else {
  <span>No value selected</span>
  }
</div> -->
<div>
  @switch (level) { @case ('J') {
  <span>Junior</span>

  } @case ('M') {
  <span>Mid</span>

  } @case ('S') {
  <span>Senior</span>

  } @default {
  <span>No value selected</span>

  } }
</div>

<!-- eg2: @for display user list --->
<h3>User List</h3>
@for (user of users; track user.name; let idx = $index; let even = $even) {
<p>
  [{{ idx }} - {{ even ? "even" : "odd" }}] Name : {{ user.name }} | Level :
  {{ user.level }}
</p>

} @empty {
<p>User list is empty</p>

}

<div class="action-btns">
  <button (click)="clearList()">Clear List</button>
  <button (click)="initList()">Init List</button>
</div>
